.fruit {
    background-color: #008000;
}
.body {
    background-color: #ff0000;
}
.head {
    background-color: #0000ff;
}
table {
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid #00000040;
}
table tr td {
    width: 15px;
    height: 15px;
}