body {
    width: 100%;
}
.center {
    margin: auto;
    width: max-content;
}
table#grid {
    border-collapse: collapse;
    margin-bottom: 10px;
}
table#grid,#grid td,#grid th {
    border: 1px solid #00000040;
}
table#grid tr td {
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat : no-repeat;
}
.fruit {
    background-image: url('../images/cherry-fruit.svg');
    background-size: 85%;
}
.block {
    background-image: url('../images/brick-wall.svg');
    background-size: 109%;
    background-position: cover;
}
.body {
    background-color: #ff0000;
}
.head {
    background-color: #0000ff;
}