body {
    width: 100%;
}
.center {
    margin: auto;
    width: max-content;
  }
.fruit {
    background-color: #008000;
}

.block {
    background-color: #490000;
}

.body {
    background-color: #ff0000;
}
.head {
    background-color: #0000ff;
}
table#grid {
    border-collapse: collapse;
    margin-bottom: 10px;
}
table#grid,#grid td,#grid th {
    border: 1px solid #00000040;
}
table#grid tr td {
    width: 15px;
    height: 15px;
}

.controls-container {
    margin-bottom: 10px;
}